.containerKontakt{
    position: relative;
    left: 40%;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 600px; 
    margin: 0 auto;
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 500px; 
  }
  
  .form-group {
    margin-bottom: 15px; 
  }
  
  .form-group label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
  }
  
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff;
    font-size: 14px; 
  }
  
  .form-group textarea {
    height: 100px;
    resize: vertical;
  }
  
  button[type="submit"] {
    padding: 10px 15px;
    width: 150px;
    border: none; 
    background-color: #000000; 
    color: #fff; 
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    right: -75%;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  