.containerOnama{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 20%;
}
.containerOnama img{
    height: 500px;
}

.containerOnama div p{
    text-align: left;
}