.UslugeDiv{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 150px;
}

.containerUsluge {
    margin-bottom: 250px;
  }
  
  .usluge-list {
    display: flex;
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
    flex-grow: 2;
  }

  